.home-button {
    height: 60px;
    padding: 0px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 500px;
}

.home-button:hover {
    transform: translateX(-3px) translateY(-3px); /* Diagonal movement */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
}